/**Added by Ruairi**/

header {
	margin: 30px 0 0 0;
}

p {
	text-align: justify;
}

a {
	color: #FEE6BA;
}

img {
	margin: 0 auto;
}

figcaption {
	text-align: center;
	color: #FEE6BA;
}

.page {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	background-color: #114368;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

.page h2 {
	color: #FEE6BA;
}

.page h3 {
	color: white;
}

.page figure {
	padding-top: 15px;
}

.first-half-sentence {
	color: white;
}

.page p {
	color: white;
}

.page li {
	color: white;
}

.chunk {
	background-color: #01959F;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}