/**Added by Ruairi**/

/**Navbar**/

#barID {
	background-color: #114368;
}

.nav-item {
	background-color: #FEE6BA;
}

#navleft {
	border-radius: 5px 0 0 5px;
}

#navright {
	border-radius: 0 5px 5px 0;
}

/** body **/

header {
	margin: 30px 0 0 0;
	color: #114368;
}

footer {
	margin-bottom: 30px;
}

p {
	text-align: justify;
}

a {
	color: #FEE6BA;
}

img {
	margin: 0 auto;
}

figcaption {
	text-align: center;
	color: #FEE6BA;
}

/** INDEX PAGE **/

#top-part h1 {
	background-color: #114368;
	max-width: 40%;
	margin: 10px auto;
	color: white;
	border-radius: 5px;
	padding-top: 15px;
}

.mySlides {
	margin-top: 35px;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

.mySlides img{
	border-radius: 5px;
}

.indexTitle {
	margin-left: 15px;
	color: #114368;
}

@media(max-width: 720px){
	#top-part h1 {
		min-width: 300px;
	}
}

/** BAND PAGES **/

.page {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	background-color: #114368;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

.page h2 {
	color: #FEE6BA;
	margin-left: 18px;
}

.page h3 {
	color: #114368;
}

.page figure {
	padding-top: 15px;
}

.first-half-sentence {
	color: #114368;
}

.page p {
	color: #114368;
}

.page li {
	color: #114368;
}

.chunk {
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
}

.chunk p {
	color: #114368;
}

.chunk a {
	color: #01959F;
}

.chunk a:hover {
	color: #114368;
}

.chunk h3 {
	text-align: center;
}

.chunk ul,ol {
	text-align: center;
	list-style: none;
}

footer p {
	text-align: center;
}

footer a {
	color: #01959F;
}

footer a:hover {
	color: #114368;
}

/** COLOPHON **/

.jumbotron {
	background-color: #114368;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

#jumbotron {
	padding-top: 0;
}

.jumbotron h1 {
	color: white;
}

#studentintro {
	color: white;
	text-align: center;
}

#coloheader {
	margin-top: 30px;
	margin-bottom: 30px;
}

#aboutUs {
	margin-left: 35px;
	color: #114368;
}

.colorow {
	background-color: #114368;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 8px;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

.bios {
	background-color: white;
	text-align: center;
	margin-top: 10px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.75);
	color: #114368;
}

#team4header {
	margin-top: 40px;
	margin-left: 35px;
	color: #114368;
}

.team4 {
	max-width: 70%;
	margin: 0 auto;
	background-color: #FEE6BA;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.75);
}

.team4bios {
	padding: 1px 20px 20px 20px;
	color: #114368;
}

#tech {
	text-align: center;
}

#tech h2, li {
	color: #114368;
}

#sources {
	text-align: center;
	padding-bottom: 40px;
}

#sources h2 {
	color: #114368;
}

#sourceList {
	padding-right: 40px;
}

#sourceList a {
	color: #114368;
}

#sourceList a:hover {
	color: #01959F;
}

/** fonts **/

.chunk h3{
	font-family: 'Catamaran', sans-serif;
}

h1 {
	font-family: 'Catamaran', sans-serif;
}